OPENAI_API_KEY= ""
OPENAI_ORGANIZATION=""
OPENAI_PROJECT=""
HSP_EMAIL=""
HSP_PASSWORD=""

#Delay Repay Website Login Credentials
DELAY_REPAY_EMAIL=
DELAY_REPAY_PASSWORD=

# Your personal details for claims
USER_TITLE=
USER_FIRST_NAME=
USER_LAST_NAME=
USER_ADDRESS=
USER_CITY=
USER_POSTCODE=
USER_COUNTRY= 
USER_EMAIL=
USER_ACCOUNT_HOLDER=
USER_SORT_CODE=
USER_ACCOUNT_NUMBER=

# Passenger Details 
PASSENGER_TITLE=
PASSENGER_FIRST_NAME=
PASSENGER_LAST_NAME=
PASSENGER_ADDRESS_LINE1=
PASSENGER_TOWN_CITY=
PASSENGER_POSTCODE=
PASSENGER_COUNTRY= 
PASSENGER_EMAIL=

# Bank Details 
BANK_ACCOUNT_HOLDER=
BANK_SORT_CODE=
BANK_ACCOUNT_NUMBER=